<% provide(:title, 'About') %>

<div class="center jumbotron">
  <h1>List Appとは？</h1>
  <div class="howto">
    <h3>簡単にリスト作成ができます</h3>
  </div>
  <div class="usecase">
    <h3>例えばこんな使い方はどうでしょう</h3>
      <li>パートナーと共有できる買い物リスト</li>
      <li>友達との旅行での行きたい場所ピックアップリスト</li>
      <li>お子様の成長に、できたことリスト</li>
  </div>
</div>
