<h2>リスト作成フォーム</h2>
<%= form_with model: @list_new do |f| %>
  <div class="field">
    <%= f.text_field :content, placeholder: 'リストのタイトルを入力してください' %>
  </div>
  <%= f.submit '作成', class: 'btn btn-primary' %>
<% end %>