<footer class="footer">
  <small>
    List App by Keijiro
  </small>
  <nav>
    <ul>
      <li><%= link_to "リンク1", "#" %></li>
      <li><%= link_to "リンク2", "#" %></li>
      <li><%= link_to "リンク3", "#" %></li>
    </ul>
  </nav>
</footer>