<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "List App", root_path, id: "logo" %>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "about", about_path %></li>
      <li><%= link_to "user", '#' %></li>
      <li><%= link_to "link3", '#' %></li>
    </ul>
  </div>
</header>